<div class="container">
            
    <div class="container row">

        <div class="info-text">

            <h2 class="section-h2"> Baseada na sua última visita </h2>

            <a href="#">Ver historico</a>

        </div>

        <div class="col col-intes-header">

            <div class="card" style="width: 224px; ">

                <img src="https://http2.mlstatic.com/D_Q_NP_961630-MLA48196888095_112021-AB.webp" class="card-img-top img-opc" alt="...">

                <div class="card-body">

                    <h5 class="card-title">R$ 2016</h5>

                    <p class="card-text">10x R$ 143 sem juros </p>

                    <a href="#" class="btn btn-primary">Compra</a>

                </div>

            </div>

        </div>

        <div class="col">

            <div class="card" style="width: 224px; ">

                <img src="https://http2.mlstatic.com/D_Q_NP_710065-MLA48264725332_112021-AB.webp" class="card-img-top img-opc" alt="...">

                <div class="card-body">

                    <h5 class="card-title">R$ 2016</h5>

                    <p class="card-text">10x R$ 143 sem juros </p>

                    <a href="#" class="btn btn-primary">Compra</a>

                </div>

            </div>

        </div>

        <div class="col">
            <div class="card" style="width: 224px; ">

                <img src="https://http2.mlstatic.com/D_Q_NP_707970-MLA46081133887_052021-AB.webp" class="card-img-top img-opc" alt="...">

                <div class="card-body">

                    <h5 class="card-title">R$ 2016</h5>

                    <p class="card-text">10x R$ 143 sem juros </p>

                    <a href="#" class="btn btn-primary">Compra</a>

                </div>

            </div>

        </div>

        <div class="col">

            <div class="card" style="width: 224px; ">

                <img src="https://http2.mlstatic.com/D_Q_NP_974266-MLA48254501676_112021-AB.webp" class="card-img-top img-opc" alt="...">

                <div class="img-card">
                    
                    <div class="text-opc"><a class="text-opc" href="#">Mais</a> </div>
                    
                </div>


                <div class="card-body">

                    <h5 class="card-title">R$ 2016</h5>

                    <p class="card-text">10x R$ 143 sem juros</p>

                    <a href="#" class="btn btn-primary">Compra</a>

                </div>

            </div>


        </div>

    </div>    

    <div class ="container row row-header ">

        <div class="info-text">

            <h2 class="section-h2">Ofertas do dia</h2>

            <a href="#">Ver mais</a>

        </div>


        <div class="col">

            <div class="card" style="width: 224px; ">

                <img src="https://http2.mlstatic.com/D_NQ_NP_998838-MLA46153567215_052021-O.webp" class="card-img-top img-opc img-phone" alt="...">

                <div class="card-body">

                    <h5 class="card-title">R$ 4.395
                    </h5>

                    <p class="card-text">10x R$ 125 sem juros </p>

                    <a href="#" class="btn btn-primary">Compra</a>

                </div>

            </div>

        </div>

        <div class="col">

            <div class="card" style="width: 224px; ">

                <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcSvZ0JE6mVFEkCdYQujwTUm-nyUMzhWXc6XCHRgW-4Ip2my2KEwNBQJ4S-WGxOWrzqnCKLxhbMjMk-t8H7QlsF6PY7fLzTZyJQRZApJcTGj40ktg_wtYft9&usqp=CAE" class="card-img-top img-opc clearfi2" alt="...">

                <div class="card-body">

                    <h5 class="card-title">R$ 500</h5>

                    <p class="card-text">10x R$ 50 sem juros </p>

                    <a href="#" class="btn btn-primary">Compra</a>

                </div>

            </div>

        </div>

        <div class="col">

            <div class="card" style="width: 224px; ">

                <img src="https://http2.mlstatic.com/D_Q_NP_710065-MLA48264725332_112021-AB.webp" class="card-img-top img-opc" alt="...">

                <div class="card-body">

                    <h5 class="card-title">R$ 1999</h5>

                    <p class="card-text">10x R$ 199,9 sem juros </p>

                    <a href="#" class="btn btn-primary">Compra</a>

                </div>

            </div>

        </div>

        <div class="col">

            <div class="card" style="width: 224px; ">

                <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/ipad-air-select-wifi-purple-202203?wid=940&hei=1112&fmt=png-alpha&.v=1645066730601" class="card-img-top img-opc clearfix" alt="...">

                <div class="card-body">

                    <h5 class="card-title">R$ 6,799</h5>

                    <p class="card-text">10x R$ 679 sem juros </p>

                    <a href="#" class="btn btn-primary">Compra</a>

                </div>

            </div>

        </div>

    </div> 
    
    <div class ="container row row-header ">

        <div class="info-text">

            <h2 class="section-h2">Você também pode gostar</h2>

            <a href="#">Ver todas</a>

        </div>


        <div class="col">

            <div class="card" style="width: 224px; ">

                <img src="https://http2.mlstatic.com/D_Q_NP_710065-MLA48264725332_112021-AB.webp" class="card-img-top img-opc" alt="...">

                <div class="card-body">

                    <h5 class="card-title">R$ 2016</h5>

                    <p class="card-text">10x R$ 143 sem juros </p>

                    <a href="#" class="btn btn-primary">Compra</a>

                </div>

            </div>

        </div>

        <div class="col">

            <div class="card" style="width: 224px; ">

                <img src="https://http2.mlstatic.com/D_Q_NP_710065-MLA48264725332_112021-AB.webp" class="card-img-top img-opc" alt="...">

                <div class="card-body">

                    <h5 class="card-title">R$ 2016</h5>

                    <p class="card-text">10x R$ 143 sem juros </p>

                    <a href="#" class="btn btn-primary">Compra</a>

                </div>

            </div>

        </div>

        <div class="col">

            <div class="card" style="width: 224px; ">

                <img src="https://http2.mlstatic.com/D_Q_NP_710065-MLA48264725332_112021-AB.webp" class="card-img-top img-opc" alt="...">

                <div class="card-body">

                    <h5 class="card-title">R$ 2016</h5>

                    <p class="card-text">10x R$ 143 sem juros </p>

                    <a href="#" class="btn btn-primary">Compra</a>

                </div>

            </div>

        </div>

        <div class="col">

            <div class="card" style="width: 224px; ">

                <img src="https://http2.mlstatic.com/D_Q_NP_710065-MLA48264725332_112021-AB.webp" class="card-img-top img-opc" alt="...">

                <div class="card-body">

                    <h5 class="card-title">R$ 2016</h5>

                    <p class="card-text">10x R$ 143 sem juros </p>

                    <a href="#" class="btn btn-primary">Compra</a>

                </div>

            </div>

        </div>

    </div> 

</div>