<div>
    <h2 style="text-align:center;margin-top: 20px; font: 10px; font-family: 'Courier New', Courier, monospace; color: rgb(49, 49, 49);">Aproveite agora o cupon "StoryOn"!</h2>
    
<div class="center-aling container-body">

    <div class="info-text">

        <h2 class="style-h2"> Baseada na sua última visita </h2>

        <a href="#">Ver historico</a>

    </div>

    <div id="produtos-ultima" class="row container-ultima-visita">
    </div>

    <div class="info-text">

        <h2 class="style-h2">Ofertas do dia</h2>

        <a href="#">Ver mais</a>

    </div>

    <div id="ofertasDoDia" class="row container-Ofertas-do-dia">
    </div>

    <div class="info-text">

        <h2 class="style-h2">Você também pode gostar</h2>

        <a href="#">Ver todas</a>

    </div>

    <div class="row container-sugestao">
        
        <div class="card">

            <a href="#">
                <img class="card-img" src="https://http2.mlstatic.com/D_Q_NP_876877-MLA48317871429_112021-P.webp" alt="">
            </a>
            

            <span class="info-alteração-de-valor">
                <small><del>20.000</del></small>
            </span>

            <span class="valor-info">
                R$1.254            
             </span>

            <span class="info-entrega">
                Frete grátis
                <svg viewBox="0 0 56 18" xmlns="http://www.w3.org/2000/svg" class="dynamic-carousel__shipping-container-fulfillment" width="38px" height="12px">

                    <path d="M3.545 0L0 10.286h5.91L3.544 18 13 6.429H7.09L10.637 0zm14.747 14H15.54l2.352-10.672h7.824l-.528 2.4h-5.072l-.352 1.664h4.944l-.528 2.4h-4.96L18.292 14zm13.32.192c-3.28 0-4.896-1.568-4.896-3.808 0-.176.048-.544.08-.704l1.408-6.352h2.8l-1.392 6.288c-.016.08-.048.256-.048.448.016.88.688 1.728 2.048 1.728 1.472 0 2.224-.928 2.496-2.176L35.5 3.328h2.784l-1.392 6.336c-.576 2.592-1.984 4.528-5.28 4.528zM45.844 14h-7.04l2.352-10.672h2.752L42.1 11.6h4.272l-.528 2.4zm9.4 0h-7.04l2.352-10.672h2.752L51.5 11.6h4.272l-.528 2.4z" fill="#00a650" fill-rule="evenodd">

                    </path>
                    
                </svg>
            </span>

            <p class="info-prod"> 
                Moto G20 Dual Sim 64 Gb Grafite 4 Gb Ram
            </p>
        </div>

        <div class="card">

            <a href="#">
                <img class="card-img" src="https://http2.mlstatic.com/D_Q_NP_876877-MLA48317871429_112021-P.webp" alt="">
            </a>
            

            <span class="info-alteração-de-valor">
                <small><del>20.000</del></small>
            </span>

            <span class="valor-info">
                R$1.254       
            </span>

            <span class="info-entrega">
                Frete grátis
                <svg viewBox="0 0 56 18" xmlns="http://www.w3.org/2000/svg" class="dynamic-carousel__shipping-container-fulfillment" width="38px" height="12px"><path d="M3.545 0L0 10.286h5.91L3.544 18 13 6.429H7.09L10.637 0zm14.747 14H15.54l2.352-10.672h7.824l-.528 2.4h-5.072l-.352 1.664h4.944l-.528 2.4h-4.96L18.292 14zm13.32.192c-3.28 0-4.896-1.568-4.896-3.808 0-.176.048-.544.08-.704l1.408-6.352h2.8l-1.392 6.288c-.016.08-.048.256-.048.448.016.88.688 1.728 2.048 1.728 1.472 0 2.224-.928 2.496-2.176L35.5 3.328h2.784l-1.392 6.336c-.576 2.592-1.984 4.528-5.28 4.528zM45.844 14h-7.04l2.352-10.672h2.752L42.1 11.6h4.272l-.528 2.4zm9.4 0h-7.04l2.352-10.672h2.752L51.5 11.6h4.272l-.528 2.4z" fill="#00a650" fill-rule="evenodd"></path></svg>
            </span>

            <p class="info-prod"> 
                Moto G20 Dual Sim 64 Gb Grafite 4 Gb Ram
            </p>
        </div>

        <div class="card">

            <a href="#">
                <img class="card-img" src="https://http2.mlstatic.com/D_Q_NP_876877-MLA48317871429_112021-P.webp" alt="">
            </a>
            

            <span class="info-alteração-de-valor">
                <small><del>20.000</del></small>
            </span>

            <span class="valor-info">
                R$1.254
            </span>

            <span class="info-entrega">
                Frete grátis
                <svg viewBox="0 0 56 18" xmlns="http://www.w3.org/2000/svg" class="dynamic-carousel__shipping-container-fulfillment" width="38px" height="12px"><path d="M3.545 0L0 10.286h5.91L3.544 18 13 6.429H7.09L10.637 0zm14.747 14H15.54l2.352-10.672h7.824l-.528 2.4h-5.072l-.352 1.664h4.944l-.528 2.4h-4.96L18.292 14zm13.32.192c-3.28 0-4.896-1.568-4.896-3.808 0-.176.048-.544.08-.704l1.408-6.352h2.8l-1.392 6.288c-.016.08-.048.256-.048.448.016.88.688 1.728 2.048 1.728 1.472 0 2.224-.928 2.496-2.176L35.5 3.328h2.784l-1.392 6.336c-.576 2.592-1.984 4.528-5.28 4.528zM45.844 14h-7.04l2.352-10.672h2.752L42.1 11.6h4.272l-.528 2.4zm9.4 0h-7.04l2.352-10.672h2.752L51.5 11.6h4.272l-.528 2.4z" fill="#00a650" fill-rule="evenodd"></path></svg>
            </span>

            <p class="info-prod"> 
                Moto G20 Dual Sim 64 Gb Grafite 4 Gb Ram
            </p>
        </div>

        <div class="card">
            <a href="#">

             <img class="card-img" src="https://http2.mlstatic.com/D_Q_NP_876877-MLA48317871429_112021-P.webp" alt="">

            </a>


            <span class="info-alteração-de-valor">
                <small><del>20.000</del></small>
            </span>

            <span class="valor-info">
                R$1.254
            </span>

            <span class="info-entrega">
                Frete grátis
                <svg viewBox="0 0 56 18" xmlns="http://www.w3.org/2000/svg" class="dynamic-carousel__shipping-container-fulfillment" width="38px" height="12px"><path d="M3.545 0L0 10.286h5.91L3.544 18 13 6.429H7.09L10.637 0zm14.747 14H15.54l2.352-10.672h7.824l-.528 2.4h-5.072l-.352 1.664h4.944l-.528 2.4h-4.96L18.292 14zm13.32.192c-3.28 0-4.896-1.568-4.896-3.808 0-.176.048-.544.08-.704l1.408-6.352h2.8l-1.392 6.288c-.016.08-.048.256-.048.448.016.88.688 1.728 2.048 1.728 1.472 0 2.224-.928 2.496-2.176L35.5 3.328h2.784l-1.392 6.336c-.576 2.592-1.984 4.528-5.28 4.528zM45.844 14h-7.04l2.352-10.672h2.752L42.1 11.6h4.272l-.528 2.4zm9.4 0h-7.04l2.352-10.672h2.752L51.5 11.6h4.272l-.528 2.4z" fill="#00a650" fill-rule="evenodd"></path></svg>
            </span>

            <p class="info-prod"> 
                Moto G20 Dual Sim 64 Gb Grafite 4 Gb Ram
            </p>
        </div>

    </div>

    <section class="row container-intereses">

        <div class="info-text">

            <h2 class="style-h2">Voce pode se interessar</h2>

            <a href="#">Ver mais</a>

        </div>
        
        <div class="col box1-intereses">

            <div class="text-intereses">

                <small><span>Peças para seu pc gamer.</span></small>

                <h2>Peças com alto desempenho Nvidia.</h2>

                <a href="#">Ver mais</a>

            </div>

            <img  src="https://www.nvidia.com/content/dam/en-zz/Solutions/geforce/ampere/rtx-3090/geforce-rtx-3090-product-gallery-full-screen-3840-2.jpg" alt="">

        </div>

        <div class="col box2-intereses">

            <div class="text-intereses">

                <small><span>E o setap gamer ta On?</span></small>

                <h2>Vem de razer para da um upgrad no setap.</h2>

                <a href="#">Ver mais</a>

            </div>
            

            <img src="https://assets3.razerzone.com/qro1_9yvUKrjFXpnylnJsoBCsg4=/1500x1000/https%3A%2F%2Fhybrismediaprod.blob.core.windows.net%2Fsys-master-phoenix-images-container%2Fh70%2Fh2d%2F9081228984350%2Frazer-wolverine-ultimate-gallery-1500x10000-01.jpg" alt="">

        </div> -->

    </section>
