<footer>
    
        <div class="row-sing">

            <button>SIGN IN</button>

        </div>

        <div class= "nav-icons">

            <ul>

                <li class="icon"><i class="bi bi-instagram"></i></li>
                <li class="icon"><i class="bi bi-facebook"></i></li>
                <li class="icon"><i class="bi bi-whatsapp"></i></li>
                <li class="icon"><i class="bi bi-linkedin"></i></li>
                <li class="icon"><i class="bi bi-twitter"></i></li>
                <li class="icon"><i class="bi bi-youtube"></i></li>

            </ul>

        </div>

        <div class="description">

            <span>&copy;2022 Grupo-pda6 todos os direitos reservados.</span>

        </div>

        <button><a href="#"><i class="bi bi-arrow-up-circle-fill"></i></a></button>

</footer>