<footer>
    
        <div class="row-sing">

            <button>SIGN IN</button>

        </div>

        <div class= "nav-icons">
            
            <ul>

                <li class="icon"><i class="bi bi-instagram"></i></li>
                <li class="icon"><i class="bi bi-facebook"></i></li>
                <li class="icon"><i class="bi bi-whatsapp"></i></li>
                <li class="icon"><i class="bi bi-linkedin"></i></li>
                <li class="icon"><i class="bi bi-twitter"></i></li>
                <li class="icon"><i class="bi bi-youtube"></i></li>

            </ul>

        </div>

        <div class="description">

        </div>

</footer>