<!-- 
        <footer>

            <div class="card text-center  footer-fixed">

                <div class="card-header">

                  LifeStore

                </div>

                <div class="card-body">

                  <h5 class="card-title">&copyLifeStore</h5>
                  
                  <p class="card-text"> <a href=""> <i class="bi bi-instagram int"> </i> </a> | <a href=""><i class="bi bi-facebook fec"></i></a>  | <a href=""><i class="bi bi-twitter twi"></i></a></p>

                  <a href="#" class="btn btn-primary">Conheça nos</a>

                </div>

                <div class="card-footer text-muted">

                </div>

              </div>

        </footer> -->