body{
    background-color: #b7b3b333;
    /* display: flex; */
    justify-content: center;
}
.header{
    flex-direction: row;
    font:  13px arial,sans-serif;
    background-color: #ffffff;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
.container-{
   height: 50%;
  

}

.container-all-pesq{
   margin-top:37px;
} 

.img-logo{
    height: 9%;
    width: 25%;
    margin: 10px;
    border-radius: 50%;
}

.title{
    display: flex;
    align-items: center;
}
ul{
    margin:1 ;
    margin-bottom:0;
}

a{
    text-decoration: none;
    /* color: rgb(255, 255, 255); */
}
  
li{
    list-style: none;
    /* color: #403b3b; */
    color:  #0c5149;
    display: flex;
    display: inline-block;
    margin: 20px;
}

img{
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.button-criar-conta{
    border: 2px solid rgb(110, 20, 167);
    padding: 10px;
    border-radius:10px;
    margin-right: 10px;
    
}

.button-criar-conta:hover{
    background-image: radial-gradient(circle at -18.3% 68.3%, #0055ff 0, #004bfc 12.5%, #4840f3 25%, #7030e8 37.5%, #8c19dc 50%, #a200cf 62.5%, #b300c1 75%, #c100b2 87.5%, #cd00a3 100%);
    border: 2px solid rgb(144, 83, 180);
    border-radius: 50px;
    color: rgb(255, 238, 4);
    transition: 0.79s all;
}

li:hover{
  
    color: #ffcc00;
    transition: 0.1s all;
    
}

.input-container{
    display: flex;
    justify-content:center;
}

.search{
    padding:1em;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 0 0 0;
    outline: 0;
    font:10px ;
    margin: none;
    width: 75%;
    height: 3rem;
    margin-top: 1rem;
    border-start-start-radius:20px;
    border-end-start-radius:20px; 
}

.buton-style{
    border:none;
    box-sizing: border-box;
    margin-right: 4px;
    width:3%;
    height: 3rem;
    margin-top: 1rem;
    border-start-end-radius: 20px;
    border-bottom-right-radius: 20px;
}

.btn-src:hover{
    color: #ffcc00;
    transition: 0.1s;
}

.search-icon{
    color:rgb(76, 76, 76);
}

.intes-pag{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.palet-color{
    color:  #606BF8;
    color:  #171D1C;
    color:  #fff;
    color:  #7166C2;
    color:  #00A1F1;
    color:  #00D2F2;
    color:  #5FFBD6;
    background-image: linear-gradient(to left top, #7166c2, #6672ce, #597dd8, #4988e1, #3593e9,
         #269cee, #14a5f1, #00aef4, #00b8f5, #00c1f5, #00caf4, #00d2f2);
}
.sons-intes-pag img{
    height: 10%;
    max-width: 184px;
    max-height: 184px;
    min-height: 184px;
}
