.header{
    font:  18px arial,sans-serif;
    background-color: #fdffff69;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.img-logo{
    height: 9%;
    width: 25%;
    margin: 10px;
    border-radius: 50%;
}

.title{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
  

li{
    list-style: none;
    /* color: #403b3b; */
    color:  #0c5149;
    display: flex;
    display: inline-block;
    margin: 20px;
}

/* .tooltip{
    width: 100%;
} */

.button-Entrar{
    border: 2px solid rgb(110, 20, 167);
    padding: 10px;
    border-radius:10px;
    margin-right: 10px;
    
}

.button-Entrar:hover{
    background-color: rgb(132, 14, 201);
    border: 2px solid rgb(81, 2, 128);
    border-radius: 50px;
    color: white;
    transition: 0.79s all;
}

li:hover{
  
    color: #ffcc00;
    transition: 0.1s all;
    
}

.input-container{
    display: flex;
    justify-content:center;
}

.input-filde{
    border: none;
    box-sizing: border-box;
    box-shadow: 0 0 0 0;
    outline: 0;
    font-size:20px ;
    margin: none;
    width: 75%;
    height: 3rem;
    margin-top: 1rem;
}
.list-prod{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.img-back{
    width: 75%;
    background-color: #ffffff;
    border-radius:50px;
}
 .container-lot{
    background-color: #170985; 
} 
.buton-style{
    border:none;
    box-sizing: border-box;
    margin-right: 4px;
    width:3%;
    height: 3rem;
    margin-top: 1rem;
}

.search-icon{
    color:rgb(76, 76, 76);
}
