body{
    background-color: #EBEBEB;
}

.palet-color{
   color:  #606BF8;
   color:  #171D1C;
   color:  #fff;
   color:  #7166C2;
   color:  #00A1F1;
   color:  #00D2F2;
   color:  #5FFBD6;
   background-image: linear-gradient(to left top, #7166c2, #6672ce, #597dd8, #4988e1, #3593e9,
        #269cee, #14a5f1, #00aef4, #00b8f5, #00c1f5, #00caf4, #00d2f2);
}

.experiment-Pagamento-intes{

    margin-top: 25px;
    display:flex;
    justify-content: center;
    flex-direction: row;
    border-start-start-radius:20px;
    border-end-start-radius:20px; 
}

.title-pagame {
    height: 100px;
    width: 300px;  
    padding: 10px;
    background-color: #fff;
}
.payment-date-title{
    font: 18px "Helvetica Neue",Helvetica;

}

.title-1{
    margin-right: 1px;
    padding:21px;
}

.title2{
    margin-right:35px;
}

.subtitle{
    color: #999;
    font-size: 14px;
    margin-top: 14px;
}

  
.header{
    font:  16px arial,sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.img-logo{
    height: 9%;
    width: 25%;
    margin: 10px;
    border-radius: 50%;
}

.title{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    /* color: rgb(255, 255, 255); */
}
  

li{
    list-style: none;
    /* color: #403b3b; */
    color:  #0c5149;
    display: flex;
    display: inline-block;
    margin: 20px;
}

img{
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.img-card{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}



.button-Entrar{
    border: 2px solid rgb(110, 20, 167);
    padding: 10px;
    border-radius:10px;
    margin-right: 10px;
    
}

.button-Entrar:hover{
    background-image: radial-gradient(circle at -18.3% 68.3%, #0055ff 0, #004bfc 12.5%, #4840f3 25%, #7030e8 37.5%, #8c19dc 50%, #a200cf 62.5%, #b300c1 75%, #c100b2 87.5%, #cd00a3 100%);
    border: 2px solid rgb(144, 83, 180);
    border-radius: 50px;
    color: white;
    transition: 0.79s all;
}
.img-opc{
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.img-card{
    transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.img-opc:hover{
    opacity: 0.3;
}

.img-card:hover{
    opacity: 1;
}
.text-opc{
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

li:hover{
  
    color: #ffcc00;
    transition: 0.1s all;
    
}

.input-container{
    display: flex;
    justify-content:center;
}

.search{
    padding:1em;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 0 0 0;
    outline: 0;
    font-size:20px ;
    margin: none;
    width: 75%;
    height: 3rem;
    margin-top: 1rem;
    border-start-start-radius:20px;
    border-end-start-radius:20px; 
}

.experiment-Pagamento-intes{
    max-width: 100%;
    padding-left: 8px;
    padding-right: 8px;
}
.payment-date-title{
    display: inline-block;
    margin-top: 1px;
}

.title-pagament{
    flex: 1 0 auto;
    font-size: 18px;
    height: 90px;
    padding: 20px;
    white-space: nowrap;
}


.list-prod{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.container-all{
    background-image: radial-gradient(circle at -18.3% 68.3%, #0055ff 0, #004bfc 12.5%, #4840f3 25%, #7030e8 37.5%, #8c19dc 50%, #a200cf 62.5%, #b300c1 75%, #c100b2 87.5%, #cd00a3 100%);
} 

.icos-header{
    display: flex;
    width: 96px;
    /* background-image: linear-gradient( 138deg,  rgba(32, 199, 255, 0.577) 36.7%, rgba(0,8,187,1) 84.4%, rgba(255,255,255,1) 119.7% ); */
    border-radius:250px;
    background-color: rgb(6, 13, 110);
}


.container-icos img{ 
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin: 15px;

 

}

.buton-style{
    border:none;
    box-sizing: border-box;
    margin-right: 4px;
    width:3%;
    height: 3rem;
    margin-top: 1rem;
    border-start-end-radius: 20px;
    border-bottom-right-radius: 20px;
}

.btn-src:hover{
    color: #ffcc00;
    transition: 0.1s;
}

.search-icon{
    color:rgb(76, 76, 76);
}

span{
    color: #ffffff;
    font-weight: bold;
    bottom: 0;
    padding: 2px 5px;
    border-radius: 20px;
    font-size: 12px;
    width: 100%;
    text-align: center;
    display: block;
}

span:hover {
    color: #ffcc00;
    font:  21px arial,sans-serif;
    transition: 0.98s all;
}

.row-header{
    margin-top: 100px;
}

.section-h2{
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 300;
    color: #666;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.clearfix{
    content: "";
    width: 137px;
    max-width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    height: 221px;
    clear: inline-start;
    display: flex;
    text-align: center;
    margin: auto;
    align-items: center;
    margin-top:8px;
}

.clearfi2{
    margin: auto;
    width: 207px;
    height: 210px;
    margin-top: 10px;
}

.menu-text{
    display: flex;

}

.menu-text a{
    font-size: 16px;
    margin-left: 15px;
    margin-top: 6px;
}
