.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    ;

}

.img-logo{
    height: 9%;
    width: 25%;
    margin: 10px;
    border-radius: 50%;
}

.title{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
  

li{
    list-style: none;
    /* color: #403b3b; */
    color: #000000;
    display: flex;
    display: inline-block;
    margin: 20px;
}

.anu{
    border: 2px solid rgb(110, 20, 167);
    padding: 10px;
    border-radius:10px;
    margin-right: 5px;
    
}

.anu:hover{
    background-color: rgb(132, 14, 201);
    border: 2px solid rgb(81, 2, 128);
    border-radius: 50px;
    color: white;
    transition: 0.79s all;
}

li:hover{
  
    color: #ffd41f;
    transition: 0.1s all;
    
}

.cont-pesq{
    background-color: rgb(132, 14, 201);
    
}

con-input{
    align-items: center;
}

input{
    display: flex;
    width: 60rem;
    height: 2.5rem;
    margin: 30px;
    border: none;
    margin-left: 170px;
    border-radius: 15px;
}