<!DOCTYPE html>
<html lang="pt-br">
<head>
   <%- include('../partials/buscar')%> 
</head>
<body>
    <header>
        <%- include('../partials/mainHeader')  %> 
    </header>
    
    <!-- <div class="container">
        <header class="header"> 
            <div class="title">
                 <img class="img-logo" src="img/logo.png" alt="logo"/>
                 <div title="Buscar produtos"><li>Buscar</li></div>
            </div>
            <ul>
                <a href="#" title="Postar produtos"><li><i class="bi bi-send"></i> Postar</li></a>
                <a href="#" title="Visualizar itens no carrinho"><li><i class="bi bi-cart2"></i> Carrinho </li></a>
                <a href="#" title="Converse com os vendedores"><li><i class="bi bi-chat-left-dots"></i> Chat</li></a>
                <a href="#" title="Conheça os vendedores"><li><i class="bi bi-people-fill"></i> Vendedores</li></a>
                <a class = "button-criar-conta" href="/views/pages/login.html"><li>Crie sua conta</li></a>
            </ul>
        </header> -->

        <div class="container-all-pesq" >
            
            <div class="container">

                <div>

                    <form  class="input-container" action="">

                        <input class="search"  type="text" name="pesq" id="pesq-main" placeholder="A procura de...">
                    
                        <button id="search" class = "buton-style"type="submit" ><i class="bi bi-search search-icon btn-src" id ="ico-input"></i></button>
                        
                    </form>

                </div>

            </div>

        </div>   

        <div class="container-produtos">
           
            <div class="line-icon">
                <div class="box-icon">
                    <i class="bi bi-phone"></i>
                    <span>Celulares</span>
                </div>
               

                <div class="box-icon">
                    <i class="bi bi-house-door"></i>
                    <span>Casas</span>
                </div>
                

                <div class="box-icon">

                    <i class="bi bi-gear"></i>
                    <span>Serviços</span>

                </div>
              

                <div class="box-icon">

                    <i class="bi bi-controller"></i>
                    <span>Games</span>

                </div>
                
                <div class="box-icon">

                    <i class="bi bi-laptop"></i>
                    <span>Computadores</span>

                </div>
             
                <div class="box-icon">

                    <i class="bi bi-book"></i>

                    <span>Livros</span>

                </div>
               
                <div class="box-icon">

                    <i class="bi bi-briefcase"></i>

                    <span>Emprego</span>

                </div>
               
                <div class="box-icon">

                    <i class="bi bi-box-seam"></i>
                
                    <span>Box</span> 

                </div>
               
            </div>

            <div class="produtos"></div>

            </div>

        </div>

    </div>         
</body>
</html>